Source: ros-groovy-object-recognition-core
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost-all-dev, libcurl4-openssl-dev, ros-groovy-catkin, ros-groovy-ecto, ros-groovy-ecto-image-pipeline
Homepage: http://ecto.willowgarage.com/recognition
Standards-Version: 3.9.2

Package: ros-groovy-object-recognition-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, couchdb, libboost-all-dev, libcurl4-openssl-dev, ros-groovy-ecto, ros-groovy-ecto-image-pipeline
Description: object_recognition_core contains tools to launch several recognition pipelines, train objects, store models ...
