Source: ros-groovy-object-recognition-core
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libboost1.46-all-dev, libcurl4-openssl-dev, ros-groovy-catkin, ros-groovy-cmake-modules, ros-groovy-ecto, ros-groovy-ecto-image-pipeline, ros-groovy-sensor-msgs, ros-groovy-visualization-msgs
Homepage: http://wg-perception.github.io/object_recognition_core/
Standards-Version: 3.9.2

Package: ros-groovy-object-recognition-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, couchdb, libboost1.46-all-dev, libcurl4-openssl-dev, ros-groovy-ecto, ros-groovy-ecto-image-pipeline, ros-groovy-sensor-msgs
Description: object_recognition_core contains tools to launch several recognition pipelines, train objects, store models ...
